[Desktop Entry]
Encoding=UTF-8
Name=Wayang Wallet
Comment=Wayang wallet
Exec=wayangswallet
Terminal=false
Type=Application
Icon=wayang
MimeType=x-scheme-handler/wayangwallet;
Categories=Office;Finance;
Name[en_US]=wayangwallet.desktop
